.saving{
    width: fit-content;
    margin: auto;
    text-align: center;
}

.saving #transfer {
    display: inline-block;
}

.transfer{
    width: 250px;
}

.transfer input{
    margin: 0;
}

.transfer button{
    border: 2px solid #cad8cf
}

.saving__balance{
    background-color: #cad8cf;
    border-radius: 6px;
    font-weight: 700;
}
