header{
  background-color: #cad8cf;
  width: 75%;
  margin: 1rem auto;
  text-align: center;
  border-radius: 10px;
}

.container-sources{
  padding: 1em ;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.container-sources  div{
  width: calc(70% / 3);
}

.container-sources  div form{
  width: 80%;
  margin: auto;
}

.input{
  display: block;
  border-radius: 6px;
  padding: .5em;
  margin-bottom: .3rem;
  width: 100%;
  border: 2px solid #adbbb2
}

input[type="reset"]{
  margin: 0;
}

.button{
  display: block;
  border-radius: 6px;
  padding: .5em 1em;
  margin: 1rem auto;
  border: none;
  background-color: #cad8cf;
}

.button:hover{
  background-color: #adbbb2;
}

li{
  padding: .5em .8em ;
  display: flex;
  align-items: center;
  background-color: #eee;
  border-radius: 10px;
  margin: 1rem auto;
  font-weight: 500;
  position: relative;
}

li span:first-child{
  margin-right: 16px;
}

.icon--delete{
  color: rgb(35 32 32);
  font-size: 20px;
  position: absolute;
  right: 5px;
}

.icon--delete:hover{
  color: rgb(207, 26, 26);
}

.text--center{
  text-align: center;
}


@media screen and (max-width: 991px){
  .container-sources {
    flex-direction: column;
    align-items: center;
  }
  .container-sources div{
    width: 100%;
  }
  .container-sources div li{
    width: 70%;
  }
}